<html>
    <head>
        <title>Register</title>
    </head>
        <h1>LOGIN</h1>
        {%if messages%}
            {%for message in messages%}
                <h3>{{message}}</h3>
            {% endfor %}
        {% endif %}
        <form action='' method="post">
            {% csrf_token %}
            <div class="username">
                <label for="username">User Name: </label>
                <input type="text" placeholder="Please enter the username" name="username">
            </div>
            <div class="password">
                <label for="password">Password: </label>
                <input type="password" placeholder="Please enter the password" name="password">
            </div>
            <div class="submit">
                <input type="submit">
            </div>
        </form>
        <a href="{% url  'Login:signup' %}"><button>Signup</button></a>
    </body>
</html>