{%load static%}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Blogs</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{%static "css/home.css"%}'>
    <script src='main.js'></script>
</head>
<body>
    <div class="messages">
        {%if messages%}
            {%for message in messages%}
                <h3>{{message}}</h3>
            {% endfor %}
        {% endif %}
    <div class="container">
        <h1>BLOGS HOME</h1>
    {%for post in blogs%}
        <fieldset>
            <label>BLOG --- {{post.user}}</label>
            <h3>Author: {{post.Author}}</h3>
            <h3>Title: {{post.Title}}</h3>
            {% if post.Image %}
                <img style="width: 300px; height: 300px;" src="{{ post.Image.url }}" alt="Image">
            {% endif %}
            {% if post.Video %}
                <video width="640" height="360" controls>
                    <source src="{{post.Video.url}}" type="video/mp4">
                </video>
            {% endif %}

            <h3>Content: {{post.Content}}</h3>
        </fieldset>
    {%endfor%}
    </div>
    
        
    <a href="{%url 'add' %}"><button>Add Blog</button></a> 
    <a href="{% url 'myblogs' %}"><button>MyBlogs</button></a></div></body></br>
    <a href="{% url 'Login:logout' %}"><button>Logout</button></a></html></br>
    <a href="{% url 'profile' %}"><button>My Profile</button></a>
</body>
</html>