<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Blogs</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="messages">
        {%if messages%}
            {%for message in messages%}
                <h3>{{message}}</h3>
            {% endfor %}
        {% endif %}
    <h1>BLOGS HOME</h1>
    <a href="{%url 'add' %}"><button>Add Blog</button></a> 
</body>
</html>