{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Blogs</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{%  static "css/myblogs.css" %}'>
    <script src='main.js'></script>
</head>
<body>
    <h1>BLOGS HOME</h1>
    {%for post in blogs%}
        <fieldset>
            <label>BLOG --- {{post.user}}</label>
            <h3>Author: {{post.Author}}</h3>
            <h3>Title: {{post.Title}}</h3>
            {% if post.Image %}
                <img style="width: 300px; height: 300px;" src="{{ post.Image.url }}" alt="Image">
            {% endif %}
            {% if post.Video %}
                <video width="640" height="360" controls>
                    <source src="{{post.Video.url}}" type="video/mp4">
                </video>
            {% endif %}

            <h3>Content: {{post.Content}}</h3>
        </fieldset>
    {%endfor%}
        
</body>
</html>